* {
    box-sizing: border-box;
}

/* this are the features of my body */

body {
	width: 1200px;
	margin: 0 auto;
	background-image: url(http://cdn.knbcoaches.com/images/www.imageafter.com/dbase/textures/walls/b10walls029.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* this are the features of the text
* that could be white or black */

.text_central {
	color: black;
	font-family: Courier;
	font-size: 40px;
	text-align: center;
    text-decoration: none;
}

.text_white {
	color: white;
	font-family: Courier;
	font-size: 10px;
    text-decoration: none;
}

.text_black {
	color: black;
	font-family: Courier;
	font-size: 25px;
    text-decoration: none;
}

/* this are my boxes */

.top{
    width: 300px;
    height: 100px;
    background-color: white;
    float:right;
    margin: 30px 30px 50px 0px;
    display: block;
}


.photo {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: white;
    float:left;
    margin-left: 100px;
    margin-top: 80px;
}

.education {
    width: 300px;
    height: 400px;
    background-color: white;
    float:left;
    margin: 0px 30px 30px 30px;
    clear: left;
}

.work {
    width: 1000px;
    height: 300px;
    background-color: white;
    float: left;
    margin: 30px 100px 30px 100px;
    overflow: auto;
}

.skill {
    width: 1000px;
    height: 300px;
    background-color: white;
    float: left;
    margin: 30px 100px 30px 100px;
    overflow: auto;
}

.container_left {
    width: 300px;
    height: 500px;
}

.container_right{
    width: 700px;
    height: 700px;
    float: right;
    clear: left;
}

.container_central{

}

button {
	width: 500px;
	height: 30px;
	background-color: black;
	border: none;
    margin: 50px 0px 50px 80px;
    float: left;
}

